.preserve-3d {
    transform-style: preserve-3d;
    transform-origin: center;
    perspective: 1000px;
  }
  
  .tarot-card, .tarot-card-back {
    backface-visibility: hidden;
    border-radius: 5px;
  }
  
  .tarot-card-back {
    transform: rotateY(180deg);
  }