.card-reveal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(240px);
  z-index: 1000;
}

.card {
  position: absolute;
  width: 125px;
  height: 220px;
  perspective: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s, opacity 0.4s ease-in-out;
  z-index: 1500;
}

@media (max-width: 768px) {
  .card-reveal-container {
    transform: none;
    margin-top: 0;
    z-index: 2000;
    height: 60vh; /* Reduced height */
    width: 100vw;
    position: fixed;
    top: 20vh; /* Moved up */
    left: 0;
  }

  .card {
    width: 50px; /* Reduced width */
    height: 85px; /* Reduced height */
  }

  .revealed-card {
    width: 50px; /* Reduced width */
    height: 85px; /* Reduced height */
  }
}

.card-reveal-container.dealing {
  pointer-events: none;
  opacity: 0.9;
}


.card {
  position: absolute;
  width: 125px;
  height: 220px;
  perspective: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s, opacity 0.4s ease-in-out;
  z-index: 150000000; /* Ensure individual cards are above the robot */
}

@media (max-width: 768px) {
  .card-reveal-container {
    transform: none;
    margin-top: 22px;
    z-index: 1900;
  }

  .card-container {
    /* Ensure cards do not display behind the robot */
    display: flex;
    flex-wrap: wrap-revers;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 70px;
    height: 120px;
  }

  /* Add these new styles for better mobile responsiveness */
  .card:hover::after,
  .card:hover::before {
    font-size: 1rem;
    max-width: 150px;
  }

  .revealed-card {
    width: 60px;
    height: 102px;
  }
}



.card-inner {
  width: 100%;
  height: 100%;
  position: fixed;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  border-radius: 2px;
  transform: rotateY(0deg);
  z-index: 150000000; /* Ensure individual cards are above the robot */
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card.reversed .card-inner {
  transform: rotateY(0deg) rotate(180deg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow */
}

.card.reversed.flipped .card-inner {
  transform: rotateY(180deg) rotate(180deg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow */
}

.card.cross-card.flipped .card-inner {
  transform: rotateY(180deg) rotate(90deg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-size: cover;
  z-index: 150000000; /* Ensure individual cards are above the robot */
}

.card-back {
  transform: rotateY(0deg);
}

.card-front {
  transform: rotateY(180deg);
}

.position-name {
  display: none;
}

.card:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 105%;
  left: 50%;
  transform: translateX(-50%) translateY(-25px);
  background-color: #f1e9e9;
  color: #000000;
  padding: 0px 4px;
  outline: 0.1vw groove;
  border-radius: 25px;
  outline-color: #000000;
  font-size: 1.2rem;
  white-space: nowrap;
  pointer-events: none;
  display: block;
  max-width: 200px;
  text-align: center;
  line-height: 1.5; 
  z-index: 10000;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.card:hover::after {
  opacity: 1;
  transition-delay: 0.1s;
}

.card:hover::before {
  content: attr(data-name); 
  position: absolute;
  bottom: 95%;
  left: 50%;
  transform: translateX(-50%) translateY(-15px); 
  background-color: rgb(255, 253, 253); 
  color: #000000;
  padding: 0px 4px;
  border-radius: 50px;
  outline-style: dashed;
  outline-width: 0.1px;
  border-radius: 25px;
  outline-color: #0000009c;
  font-size: 1.2rem;
  white-space: nowrap;
  pointer-events: none;
  display: block;
  max-width: 200px;
  text-align: center;
  z-index: 10001; /* Ensure it's above the main tooltip */
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.card:hover::before {
  opacity: 1;
  transition-delay: 0.2s;
}

.card.cross-card:hover {
  z-index: 1002;
}

.card.cross-card:hover::after {
  bottom: auto;
  top: 100%;
  transform: translateX(-50%);
  margin-top: 10px;
  z-index: 1000;
}

.card:nth-child(5):hover::after {
  bottom: auto;
  top: 100%;
  transform: translateX(-50%);
  margin-top: 10px;
}

.card:hover {
  z-index: 1001;
}

.card:nth-child(4) {
  opacity: 1 !important;
}

.card-reveal {
  position: relative;
  z-index: 150000000; /* Ensure individual cards are above the robot */
}

.revealed-card {
  position: absolute;
  width: 100px;
  height: 170px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
  z-index: 150000000; /* Ensure individual cards are above the robot */
}

.revealed-card.flipped {
  transform: rotateY(0deg);
  opacity: 1;
}

.card-reveal-container.exit-animation {
  animation: exitAnimation 1s ease-out forwards;
  z-index: 150000000; /* Ensure individual cards are above the robot */
}

@keyframes exitAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

