.command-terminal {
  background: radial-gradient(circle at 50%, #bdbdbd, #a9a9a9, #696969);
  border-radius: 30px;
  border-style: double;
  border-width: 2px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 80%;
  max-width: 800px;
  height: auto;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 20px auto;
}

.terminal-output {
  background: #161616;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
  min-height: 5px;
  max-height: 200px;
  overflow-y: auto;
  color: #fff;
  font-family: monospace;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.terminal-input-form {
  margin-right: 15px;
}

.terminal-input {
  width: 100%;
  background: #161616;
  border: 1px solid #6e6e6e;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 22px;
  color: #fff;
  outline: none;
}

.spread-selector {
  width: 150px;
}

.spread-selector select {
  width: 100%;
  padding: 8px 12px;
  border-radius: 22px;
  background: linear-gradient(145deg, #666060, #000000);
  color: #fff;
  border: none;
  outline: none;
}

.draw-button-container {
  justify-content: center;
}

.draw-button-container button {
  width: 120px;
  height: 40px;
  border-radius: 22px;
  background: linear-gradient(145deg, #ffffff88, #aaa8a8);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.draw-button-container button:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.4);
}

.draw-button-container button:active {
  transform: translateY(1px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}