.robot-container {
  align-items: center;
  margin-top: 2px;
  position: relative;
  left: 5vw;
  transform: translateY(0);
  height: auto; 
  z-index: 8;
}

@media (max-width: 768px) {
  .robot-container {
    left: 0;
    width: 105vw; 
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    position: fixed; 
    top: 0; 
    height: var(--robot-height, 40vh);
    transition: height 0.3s ease;
  }

  .robot-container.expanded {
    height: 80vh;
  }



  .robot-body {
    width: 100%;
    box-sizing: border-box; 
  }
}

.robot-body {
  width: 500px;
  height: 500px;
  box-shadow: 
  inset 0 0 50px rgba(255, 255, 255, 0.1),
  0 10px 20px rgba(0, 0, 0, 0.2),
  0 0 0 2px rgba(255, 255, 255, 0.1);
background: 
  linear-gradient(45deg, #a9a9a9, #d3d3d3),
  radial-gradient(circle at 10% 70%, #bdbdbd, #a9a9a9, #706f6f, #696969);
background-blend-mode: multiply;
  border-radius: 52px;
  outline-style: ridge;
  outline-color: #a9a9a9;
  outline-width: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
  padding-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  animation: ambient-light 100s infinite ease-in-out;
  resize: both;
  overflow: auto;
  z-index: 1100;
  margin-top: 0;
  margin-bottom: 0; 
  transition: height 0.3s ease;
  position: relative; 
}


@media (max-width: 768px) {
  .robot-body {
    width: 99vw;
    height: 40vh;
    transform: none;
    position: relative;
    z-index: 1100;
    padding: 15px; 
    padding-bottom: 50px; 
  }
}

.robot-body.expanded {
  height: 70vh;
}

.robot-head {
  width: 100%;
  height: 100%;
  background: linear-gradient(145deg, #d3d3d3, #a9a9a9);
  outline-style: ridge;
  outline-color: #a9a9a9;
  outline-width: 0.9px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  padding: 11px;
  border-radius: 52px;
  z-index: 9;
  box-shadow: 
  inset 0 0 30px rgba(0, 0, 0, 0.2),
  0 5px 10px rgba(0, 0, 0, 0.1);
}

.crt-screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 52px;
  transform-style: preserve-3d;
  position: relative;
  background: 
    linear-gradient(to bottom, #2b2b2b, #1a1a1a),
    radial-gradient(ellipse at center, #3a3a3a 0%, #191919 90%);
  background-blend-mode: multiply;
  box-shadow: 
    0 0 0 2px #333,
    0 0 0 4px #222,
    0 0 10px 5px rgba(0, 0, 0, 0.5),
    inset 0 0 100px rgba(0, 0, 0, 0.5);
}

.screen-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 52px;
  transition: height 0.3s ease;
}

.screen-content.expanded {
  height: calc(70vh - 20px); 
}

.monitor-output {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #b7ff10;
  text-shadow: 0 0 5px rgba(0, 255, 13, 0.596);
  font-size: 20px;
  padding: 20px;
  overflow-y: auto;
  z-index: 10;
  font-family: 'VT323', monospace;
  line-height: 1.5;
  animation: textFlicker 0.01s infinite;
  scroll-behavior: smooth;
  scrollbar-width: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-shadow: 
  0 0 5px rgba(4, 22, 5, 0.877),
  0 0 10px rgba(0, 255, 13, 0.5);
  height: calc(100% - 40px); 
  transition: height 0.3s ease;
}

.monitor-output.expanded {
  height: calc(100% - 40px); 
}

.monitor-output h1, .monitor-output h2, .monitor-output h3, .monitor-output h4, .monitor-output h5, .monitor-output h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.monitor-output br {
  display: block;
  content: "";
  margin-top: 1em;
}

.screen-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  z-index: 5;
}




.screen-scanlines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.05) 51%);
  background-size: 100% 4px;
  animation: scanlines 10s linear infinite;
  pointer-events: none;
  z-index: 3;
}

@keyframes scanlines {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0.8px);
  }
  40% {
    transform: translateY(1.6px);
  }
  60% {
    transform: translateY(2.4px);
  }
  80% {
    transform: translateY(3.2px);
  }
  100% {
    transform: translateY(4px);
  }
}

@keyframes textFlicker {
  0% {
    opacity: 0.99;
  }
  100% {
    opacity: 1;
  }
}

.tarotmancer-text {
  position: absolute;
  bottom: 0.1px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9rem;
  color: #000000;
  text-shadow: 0 0 4px rgba(248, 248, 248, 0.568);
  z-index: 9;
}

@keyframes ambient-light {
  0% { -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.664); box-shadow: 0 0 10px rgba(0, 0, 0, 0.664); }
  25% { -webkit-box-shadow: 0 0 20px rgb(0, 0, 0); box-shadow: 0 0 20px rgb(0, 0, 0); }
  50% { -webkit-box-shadow: 0 0 26px rgba(255, 255, 255, 0.692); box-shadow: 0 0 26px rgba(255, 255, 255, 0.692); }
  75% { -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0); box-shadow: 0 0 20px rgba(0, 0, 0, 0); }
  100% { -webkit-box-shadow: 0 0 10px rgb(126, 126, 126); box-shadow: 0 0 10px rgb(126, 126, 126); }
}

.floating-cards {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 768px) {
  .robot-body {
    width: 100%;
    height: 40vh;
    transition: height 0.3s ease;
  }

  .robot-body.expanded {
    height: 70vh;
  }

  .screen-content.expanded {
    height: calc(70vh - 30px); 
  }

  .floating-cards {
    transform: scale(0.8);
  }
}

.expand-button {
  position: absolute;
  right: 20px;
  bottom: 15px;
  width: 20px;
  height: 20px; 
  cursor: pointer;
  font-size: 1.2rem; 
  color: #33ff33;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.3s ease; 
  z-index: 1002;
}

.expand-button:hover {
  background-color: rgba(206, 32, 32, 0.3); 
  transform: scale(1.1);
}


@media (max-width: 768px) {
  .expand-button {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    right: 15px;
    bottom: 15px;
  }
}